
.btn-forum {
  background-color: $primary-color !important;
  border-color: darken($primary-color, 5%) !important;
  padding: 10px;
  margin-top: 15px;
  &:hover,
  &:active,
  &:focus {
    background-color: lighten($primary-color, 5%) !important;
    border-color: darken($primary-color, 0%) !important;
  }
}