extends layout

block content
  h1 Forum
  hr
  div.row
    div(class="col-md-4")
      div.form-search
        div.form-group
          input(class="form-control", placeholder="Buscar un tema..")
        div.form-group
          button(class="btn btn-primary btn-block") Nueva publicación
      div.tags-section
        h4 Tags
        ul.list-group
          li.list-group-item Node
          li.list-group-item PHP
          li.list-group-item Express
          li.list-group-item Pug
          li.list-group-item Mongo
    div(class="col-md-8")
      each publication in publications
        div(class="card")
          div.card-header 
            span #{publication.title}
              small #{publication.createdAt}
          div.card-body
            p #{publication.content}
