doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#app
      header.header
        nav(class="navbar navbar-expand-lg navbar-light bg-light")
          a(href="#", class="navbar-brand") Forum
      main(class="main p-5")
        div.container
          block content
      footer(class="footer text-center p-5")
        span Crafted with Node, Express, Mongoose, Pug
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="/javascripts/main.js")
