doctype html
html
  head
    title Floarum
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Encode+Sans:300,400,500,600,700')
  body
    div#app
      header.header
        div.container
          nav(class="navbar")
            a(href="#", class="navbar-brand")
              img(src="https://cdn3.iconfinder.com/data/icons/free-mix/128/business_office_seo_finance_work_coffee_pause_management-07-512.png", width="35")
              span.page-title Floarum
            ul(class="nav nav-custom justify-content-end")
              li(class="nav-item")
                a(class="nav-link active", href="#")="Registrate"
              li(class="nav-item")
                a(class="nav-link active", href="#")="Iniciar sesión"
      section.section-info
        div.container
          nav(class="navbar")
            span(class="navbar-brand") Forum
            ul(class="nav nav-custom justify-content-end")
              li(class="nav-item")
                  input(class="form-control", placeholder="Buscar un tema..")
      main(class="main p-5")
        div.container
          block content
      footer(class="footer text-center p-5")    
        span Crafted with Node, Express, Mongoose, Pug
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    block scripts