doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.header
      nav(class="navbar navbar-expand-lg navbar-light bg-light")
        a(href="#", class="navbar-brand") Forum
    main(class="main p-5")
      div.container
        block content
