doctype html
html
  head
    title Floarum
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Miriam+Libre:400,700|Source+Sans+Pro:400,700,600,400italic,700italic')
    link(rel='stylesheet', href='https://cdn.quilljs.com/1.3.6/quill.snow.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.17.0/slimselect.min.css')
  body
    div#app
      header.header
        div.container
          nav(class="navbar")
            a(href="/", class="navbar-brand")
              img(src="https://cdn3.iconfinder.com/data/icons/free-mix/128/business_office_seo_finance_work_coffee_pause_management-09-2-128.png", width="35")
              span.page-title Floarum
            ul(class="nav nav-custom justify-content-end")
              if user
                li(class="nav-item") 
                 a(class="nav-link", href="#") Welcome, #{user.name}
                li(class="nav-item")
                  a(class="nav-link", href="/auth/logout") Logout
              else
                li(class="nav-item")
                  a(class="nav-link", href="/signup")="Sign Up"
                li(class="nav-item")
                  a(class="nav-link", href="/signin")="Login"
      section.section-info
        div.container
          nav(class="navbar")
            span(class="navbar-brand") Threads
            ul(class="nav nav-custom justify-content-end")
              li(class="nav-item")
                  input(class="form-control input-search", placeholder="Search for threads...")
      main(class="main")
        div.container
          block content
      footer(class="footer text-center")
        span Crafted with Node, Express, Mongoose, Pug and Firebase Auth
        br
        span <a href="https://github.com/coderdiaz/NodeJS-FSBT-04-2018">Source code</a>, Learn Node.js. Made in 2018. 
        br
        span Coded by <a href="https://coderdiaz.me">Javier Diaz</a>
        br
        ul.nav.justify-content-center
          li.nav-item
            a(class="nav-link", href="https://github.com/coderdiaz") Github
          li.nav-item
            a(class="nav-link", href="https://twitter.com/coderdiaz") Twitter
          li.nav-item
            a(class="nav-link", href="https://dribbble.com/coderdiaz") Dribbble
    block scripts