extends layout

block content
  div.row
    div(class="col-md-6 panel panel-content")
      h1.login-title Welcome back
      p.login-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus odio at imperdiet vulputate. 
      p.login-content Praesent urna dolor, lacinia aliquam tortor elementum, consectetur sollicitudin turpis. Mauris quis cursus lacus, eu suscipit ipsum.
    div(class="col-md-6 panel panel-signup-form")
      form(method="post", action="/auth/login")
        div.form-group
          if error
            div.alert.alert-danger #{error}
        div.form-group
          label Email
          input(type="text",name="email", class="form-control")
        div.form-group
          label Password
          input(type="password", name="password", class="form-control")
        div.form-group
          button(class="btn btn-info btn-block btn-forum") Sign in