extends layout

block content
  div.row
    div(class="col-md-4 offset-md-4")
      div.form-group
        label Email
        input(type="text", class="form-control")
      div.form-group
        label Password
        input(type="password", class="form-control")
      div.form-group
        button(class="btn btn-info btn-block btn-forum") Login