extends layout

block content
  div.row
    div(class="col-md-6 panel panel-content")
      h1.login-title Get your free account
      p.login-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus odio at imperdiet vulputate. Praesent urna dolor, lacinia aliquam tortor elementum, consectetur sollicitudin turpis. Mauris quis cursus lacus, eu suscipit ipsum. Morbi turpis massa, varius non urna eu, viverra accumsan diam. Maecenas fringilla eget odio eu sodales.
    div(class="col-md-6 panel panel-signup-form")
      div.form-group
        label Email
        input(type="text", class="form-control")
      div.form-group
        label Full name
        input(type="text", class="form-control")
      div.form-group
        label Password
        input(type="password", class="form-control")
      div.form-group
        button(class="btn btn-info btn-block btn-forum") Sign Up
      div.form-group.text-center
        span Already have an account? 
          a(href="/signin") Login