extends ../layout

block content
  h1 Nueva publicación
  hr
  div.row
    div(class="col-md-12")
      div.alert.alert-danger(v-if="errors")
        h4.alert-heading Ups! Algo a pasao
        ul
          li(v-for="error in errors") {{ error[0] }}
      div.form-group
        label Titulo
        input(class="form-control", v-model="formdata.title")
      div.form-group
        label Contenido
        textarea(class="form-control", v-model="formdata.content")
      div.form-group
        label Author
        input(class="form-control", v-model="formdata.author.name")
      div.form-group
        label Tags
        input(class="form-control", v-model="tags")
      div.form-group
        button.btn.btn-primary.btn-block(v-on:click="onCreatePublication") Registrar publicación
